* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}
header {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.wrapper {
  width: 86%;
  margin: 0 auto;
}

h3 {
  color: #031C4E;
  text-align: center;
}
/* header */
#header_top_left #logo {
  display: inline-block;
}
#header_top_left,
#header_top_right {
  vertical-align: middle;
  line-height: 60px;
}
#header_top_left #logo img {
  height: 22px;
  vertical-align: text-bottom;
}
#header_top_left .link_header,
#header_top_right .link_header {
  float: right;
  font-size: 15px;
  font-weight: 900;
}
#header_top_left .link_header a,
#header_top_right .link_header a {
  padding: 0 7px;
  margin-top: 5px;
  color: #031C4E;
  text-decoration: none;
}
#header_top_left .link_header .fas.fa-chevron-down,
#header_top_right .link_header .fas.fa-chevron-down {
  padding: 0 2px;
  color: #031C4E;
}
#header_top_right .link_header button {
  border: 1px solid #1253fb;
  color: #1253fb;
  background-color: white;
  margin-top: 5px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 5px;
}
#header_top_right .link_header .fas.fa-bars {
  color: #1253fb;
}

#header_bottom {
  background-color: #1253fb;
}
#header_bottom_left {
  color: white;
}
#header_bottom_left h1 {
  font-size: 58px;
  line-height: 120%;
  padding-top: 50px;
}
#header_bottom_left p {
  font-size: 24px;
  line-height: 150%;
  opacity: 0.5;
  margin-bottom: 14%;
}
#header_bottom_right #block_white {
  border-radius: 5px;
  background-color: white;
  margin-top: 13%;
  text-align: center;
}
#header_bottom_right #block_white h3:first-of-type {
  font-size: 26px;
  font-weight: 900;
  padding-top: 9%;
}
#header_bottom_right #block_white h3:last-of-type {
  color: #1253fb;
  margin-top: 0;
  font-size: 27px;
  font-weight: 900;
}
#header_bottom_right form input {
  width: 86%;
  border: 1px solid #F5F5F5;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}
#header_bottom_right form input .placeholder {
  color: #7E7E7E;
}
#header_bottom_right form button:first-of-type {
  margin: auto;
  width: 86%;
  color: white;
  background-color: #1C73FF;
  border: 1px solid #F5F5F5;
}
#header_bottom_right form button:last-of-type {
  margin: auto;
  width: 86%;
  color: grey;
  margin-top: 10px;
  background-color: white;
  border: 1px solid #F5F5F5;
}
#header_bottom_right form .terms {
  color: #031C4E;
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 12px;
}
#header_bottom_right form .terms a {
  color: #1c73ff;
  text-decoration: underline;
}
/* /header */

/* blocco 6 loghi */
#customer_stories {
  background-color: #F3F5FA;
}
#customer_stories .wrapper {
  width: 80%;
  text-align: center;
  background-color: #F3F5FA;
}
#customer_stories h5 {
  text-transform: uppercase;
  color: #7E7E7E;
  padding-top: 4%;
  padding-bottom: 3%;
}
#customer_stories a {
  color: #1c73ff;
  padding-right: 5px;
  padding-top: 2%;
  padding-bottom: 3%;
  display: inline-block;
}
#customer_stories span {
  color: #1c73ff;
  padding-left: 10px;
}
/* /blocco 6 loghi */

/* blocco deploy con i 5 blocchi */
#deploy_scale .deploy_block {
  padding: 16px;
  width: 33%;
  float: right;
}
#deploy_scale #scale {
  border-left: 2px solid lightgray;
  padding: 12px;
  display: inline-block;
  margin-left: 9%;
  float: left;
}
#deploy_scale .container_deploy_block {
  float: left;
  background-color: red;
  display: contents;
}
#deploy_scale h3 {
  padding-top: 4%;
}
#deploy_scale h4 {
  font-size: 17px;
  color: #98A2B4;
  text-align: center;
  padding-bottom: 5%;
}
#deploy_scale h5 {
  font-weight: bold;
}
#deploy_scale p {
  text-align: left;
  color: #98A2B4;
}
#deploy_scale img {
  padding-bottom: 2%;
}
#deploy_scale #scale span {
  display: block;
  color: #98A2B4;
  line-height: 38px;
  font-size: 20px;
}
/* /blocco deploy con i 5 blocchi */

/* designed for developers */
#designed_for_developers {
  background-color: #f3f5fa;
  text-align: center;
}
#designed_for_developers h3 {
  padding-top: 4%;
}
#designed_for_developers h4 {
  font-size: 17px;
  color: #98A2B4;
  text-align: center;
  padding-bottom: 5%;
  padding-top: 2%;
}
#designed_for_developers .img {
  width: 450px;
  position: relative;
  margin: auto;
  padding-bottom: 1%;
}
#designed_for_developers img {
  width: 370px;
}
#designed_for_developers .img i:first-child {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 35px;
  font-weight: bold;
  color: #98A2B4;
}
#designed_for_developers .img i:last-child {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 35px;
  font-weight: bold;
  color: #031C4E;
}
#designed_for_developers span {
  display: block;
  font-weight: 500;
  color: #031C4E;
}
#designed_for_developers .fas.fa-circle,
#designed_for_developers .far.fa-circle{
  font-size: 10px;
  padding-top: 1%;
  margin-bottom: 6%;
  color: #1253fb;
}
/* /designed for developers */

/* the features your business need */
#features h3 {
  padding-top: 4%;
  padding-bottom: 3%;
}
#features h5 {
  font-weight: bold;
}
#features p {
  text-align: left;
  color: #98A2B4;
}
#features a {
  color: #1c73ff;
  padding-right: 5px;
  padding-top: 2%;
  padding-bottom: 3%;
  display: inline-block;
}
#features span {
  color: #1c73ff;
  padding-left: 10px;
}
#features .row {
  padding-bottom: 4%;
}
/* /the features your business need */

/* 12 regions */
#regions_container {
  color: white;
  background: rgb(18,10,148);
  background: linear-gradient(0deg, rgba(18,10,148,1) 0%,
  rgba(9,60,186,1) 100%);
  padding-bottom: 20px;
}
#regions_container h3 {
  color: white;
  padding-top: 65px;
  padding-bottom: 20px;
}
#regions_container span {
  display: inline-block;
}
#regions_container .region {
  border-top: 1px solid grey;
  line-height: 33px;
}
#regions_container .region .citys {
  opacity: 0.5;
}
#regions_container .region .code {
  text-transform: uppercase;
  padding-right: 40px;
}
#regions_container .no_border_a,
#regions_container .no_border_b {
  border-top: none;
}
#regions_container .region .test_speed {
  float: right;
}
#regions_container .region .test_speed a {
  color: aqua;
}
#regions_container .container {
  width: 100%;
}
#regions_container h3 {
  font-size: 34px;
}
/* /12 regions */

/* development teams love digitalocean */
#development_team h3 {
  margin-top: 0;
  padding-top: 65px;
  padding-bottom: 2%;
}
#development_team {
  background-color: #f3f5fa;
  text-align: center;
}
#development_team .img {
  width: 450px;
  position: relative;
  margin: auto;
  padding-bottom: 1%;
}
#development_team img {
  width: 370px;
}
#development_team .img i:first-child {
  position: absolute;
  top: 50%;
  left: 0;
  color: #98A2B4;
  font-size: 35px;
  font-weight: bold;
}
#development_team .img i:last-child {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 35px;
  font-weight: bold;
  color: #031C4E;
}
#development_team span {
  color: #031C4E;
  display: block;
  font-weight: 500;
}
#development_team .fas.fa-circle,
#development_team .far.fa-circle{
  color: #1253fb;
  font-size: 10px;
  padding-top: 1%;
  margin-bottom: 6%;
}
/* /development teams love digitalocean */

/* get started now */
#get_started {
  text-align: center;
  background: rgb(18,10,148);
  background: linear-gradient(0deg, rgba(18,10,148,1) 0%,
  rgba(9,60,186,1) 100%);
  padding-bottom: 47px;
}
#get_started h3 {
  color: white;
  padding-top: 65px;
  padding-bottom: 20px;
  margin-top: 0;
}
#get_started button {
  color: #1253fb;
}
/* get started now */

/* footer */
#footer {
  background-color: #031C4E;
  color: #808894;
  padding-bottom: 47px;
}
#footer img {
  display: block;
  padding-top: 50px;
}
#footer span {
  display: block;
}
#footer #copyright {
  padding-top: 7px;
  padding-top: 12px;
}
#footer #copyright .grey {
  opacity: 0.5;
}
#footer .fila {
  padding-top: 65px;
}
#footer .fila span a {
  color: white;
  padding-bottom: 5px;
  font-size: 17px;
}
#footer a {
  display: block;
  text-decoration: none;
  color: #808894;
}
/* /footer */

/* Extra small devices (phones, less than 768px) */
@media screen and (max-width:767px) {

  .wrapper {
    width: 100%;
  }

  #header_bottom_left h1 {
    font-size: 32px;
    padding-top: 19px;
  }
  #header_bottom_left p {
    font-size: 18px;
    margin-bottom: -11%;
  }
  #header_bottom_right #block_white {
    margin-bottom: 14%;
  }

  #customer_stories .margin {
    margin-bottom: 15%;
  }
  #customer_stories h3 {
    padding-top: 19px;
  }
  #customer_stories .wrapper {
    width: 95%;
  }
  #customer_stories .wrapper h5 {
    font-size: 12px;
    padding-top: 19px;
  }
  #customer_stories img {
    height: 76px;
  }

  #deploy_scale .deploy_block {
    width: 100%;
    margin: auto;
  }
  #deploy_scale .wrapper:nth-child(2) {
    width: 100%;
  }
  #deploy_scale #scale {
    margin-top: 5%;
    margin-left: 4%;
  }
  #deploy_scale h3 {
    padding-top: 19px;
  }
  #deploy_scale #scale span {
    line-height: 31px;
    font-size: 13px;
  }

  #designed_for_developers h3 {
    padding-top: 19px;
  }
  #designed_for_developers img {
    width: 256px;
  }
  #designed_for_developers .img {
    width: 265px;
    position: relative;
    margin: auto;
    padding-bottom: 1%;
  }
  #designed_for_developers .img i {
    display: none;
  }
  #designed_for_developers span {
    padding-top: 4%;
    padding-bottom: 17%;
  }
  #designed_for_developers .fas.fa-circle {
    margin-bottom: 13%;
  }
  #designed_for_developers .img {
    padding-top: 14%;
  }
  #designed_for_developers .wrapper {
    width: 90%;
  }

  #features {
    padding-bottom: 12%;
  }
  #features h3 {
    padding-left: 2%;
    padding-top: 19px;
  }
  #features a {
    padding-bottom: 27px;
  }

  #regions_container h3 {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 50px;
  }
  #regions_container span {
    font-size: 10px;
  }
  #regions_container .container {
    padding-bottom: 50px;
  }

  #development_team h3 {
    padding-bottom: 13%;
  }
  #development_team .img {
    width: 300px;
  }
  #development_team .fas.fa-chevron-left,
  #development_team .fas.fa-chevron-right,
  #development_team span {
    display: none;
  }
  #development_team img {
    width: 240px;
  }
}
/* Small devices (tablets, 768px and down) */
@media screen and (max-width:768px) {
  #header_bottom_left h1 {
    font-size: 32px;
    padding-top: 19px;
  }
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width:768px) {

  /* header */
  #header_bottom_left p {
    font-size: 21px;
    line-height: 150%;
    opacity: 0.5;
    margin-bottom: 14%;
  }
  #header_bottom_right #block_white {
    margin-bottom: 13%;
  }
  #header_bottom_right #block_white
  h3:first-of-type {
    font-size: 28px;
    font-weight: 900;
    padding-left: 3%;
    padding-right: 3%;
  }
  #header_bottom_right #block_white
  h3:last-of-type {
    padding: 0px 8%;
  }
  #header_bottom .wrapper {
    width: 100%;
  }
  /* /header */

  /* customer stories con 6 immagini */
  #customer_stories .wrapper {
    width: 95%;
  }
  #customer_stories img {
    height: 57px;
  }
  #customer_stories .wrapper a {
    color: #1c73ff;
    padding-right: 3px;
    padding-top: 1%;
    padding-bottom: 3%;
    font-size: 16px;
  }
  #customer_stories .wrapper h5 {
    padding-top: 3%;
    padding-bottom: 0;
  }
  /* /customer stories con 6 immagini */

  /* deploy_scale */
  #deploy_scale .deploy_block {
    width: 40%;
  }
  #deploy_scale #scale {
    margin-left: 0;
  }
  /* /deploy_scale */

}
/* Medium devices (desktops, 992px and up) */
@media screen and (max-width:992px) {

  #designed_for_developers span {
    padding-top: 2%;
    padding-bottom: 10%;
  }
  #regions_container .no_border_b {
    margin-top: 20px;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media screen and (max-width:1200px) {

  #header_top_left,
  #header_top_right {
    margin: 0;
    padding: 0 10px;
  }

  #deploy_scale .wrapper:nth-child(2d) {
    width: 75%;
  }
}
