* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.wrapper {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  display: inline-block;
}
#logo img {
  height: 22px;
  vertical-align: text-bottom;
}
#header_top_left,
#header_top_right {
  vertical-align: middle;
  line-height: 60px;
}
.link_header {
  float: right;
  font-size: 15px;
  font-weight: 900;
}
.link_header a {
  padding: 0 7px;
  margin-top: 5px;
  color: #031C4E;
  text-decoration: none;
}
.link_header .fas.fa-chevron-down {
  padding: 0 2px;
  color: #031C4E;
}
.link_header button {
  border: 1px solid #1253fb;
  color: #1253fb;
  margin-top: 5px;
}
.link_header .fas.fa-bars {
  color: #1253fb;
}
#header_bottom {
  background-color: #1253fb;
}
#header_bottom_left {
  color: white;
}
#header_bottom_left h1 {
  font-size: 58px;
  line-height: 120%;
  padding-top: 50px;
}
#header_bottom_left p {
  font-size: 24px;
  line-height: 150%;
  opacity: 0.5;
}
#header_bottom_right #block_white {
  border-radius: 5px;
  background-color: white;
  margin-top: 13%;
  text-align: center;
}
#header_bottom_right #block_white h3:last-of-type {
  color: #1253fb;
  margin-top: 0;
  font-size: 27px;
  font-weight: 900;
}
#header_bottom_right #block_white h3:first-of-type {
  color: #031C4E;
  font-size: 27px;
  font-weight: 900;
  padding-top: 9%;
}
#header_bottom_right form input {
  width: 86%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}
#header_bottom_right form input .placeholder {
  color: #7E7E7E;
}

/* Extra small devices (phones, less than 768px) */
@media screen and (min-width:767px) {

}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width:768px) {

}

/* Medium devices (desktops, 992px and up) */
@media screen and (max-width:992px) {


}

/* Large devices (large desktops, 1200px and up) */
@media screen and (max-width:1200px) {

  #header_top_left,
  #header_top_right {
    margin: 0;
    padding: 0 10px;
  }
}
